html {
    font-size: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    padding: 2rem;
}

footer {
    text-align: center;
    margin: 2rem 0;
    font-size: .8rem;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: unset;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    table-layout: fixed;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
}

table>tbody {
    border-bottom: 2px solid #444;
}

table>thead>tr>th,
table>tbody>tr>td,
table>tbody>tr>th {
    padding: 1rem 1.5rem;
    text-align: left;
}

table>tbody>tr>th {
}

table>thead>tr>th,
table>tbody>tr>td {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

table>tbody>tr>td,
table>tbody>tr>th {
    text-shadow: 0 1px rgba(255, 255, 255, .25);
}

table>thead>tr>th {
    color: #fff;
    background: #444;
}

table>tbody>tr>td:last-child {
    padding-left: 0;
}

.status-withdrawn,
.status-withdrawn a {
    color: rgb(107, 136, 40);
}

.status-supports,
.status-supports a {
    color: rgb(190, 74, 45);
}

.status-supports-dcg,
.status-supports-dcg a {
    color: rgb(190, 74, 45);
}

.status-movedon,
.status-movedon a {
    color: rgb(190, 190, 190);
}

table>tbody>tr.status-withdrawn>th,
table>tbody>tr.status-withdrawn>td {
    background: rgba(155, 197, 61, .25);
}

table>tbody>tr.status-supports>th,
table>tbody>tr.status-supports>td {
    background: rgba(229, 89, 52, .25);
}

table>tbody>tr.status-supports-dcg>th,
table>tbody>tr.status-supports-dcg>td {
    background: rgba(229, 89, 52, .25);
}

table>tbody>tr.status-movedon>th,
table>tbody>tr.status-movedon>td {
    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .5);
    font-style: italic;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.fa {
    font-size: 14px;
}

.status-bar-header {
    background: #444;
    color: #fff;
    line-height: 1rem;
    padding: 1rem 1.5rem;
}

.status-bar {
    flex: 1;
    height: 3rem;
    background: #f4f4f4;
    display: flex;
    border: 2px solid #444;
    margin-bottom: 2rem;
}

.status-bar > .status-bar-inner {
    line-height: 3rem;
    padding: 0 .5rem;
    text-align: center;
    background: #ccc;
    color: rgb(52, 122, 229);
    background: rgba(52, 122, 229, .25);
}

@media (max-width: 960px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    table {
        border-left: none;
        border-right: none;
    }

    table>thead>tr>th,
    table>tbody>tr>td,
    table>tbody>tr>th,
    .status-bar-header {
        padding-left:  .8rem;
        padding-right: .8rem;
    }

    .status-bar {
        border-left: none;
        border-right: none;
    }

    .container {
        max-width: none;
    }
}
